* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
 
    overflow-x: hidden;

    font-family: 'Jomhuria', cursive;
    font-size: 40px;
    min-width: 1080px;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 70px;
    width: 100vw;
    min-width: 1100px;

    background-color: black;
    justify-content: space-between;
    align-items: center;
}

header * {
    padding: 0 20px;
    user-select: none;
}

ul, .title, .btn, .photo_link  {
    color: white;
}

.btn {
    border-radius: 10px;
    text-transform: uppercase;
}

.btn, .photo_link {   
    text-decoration: none;
}

.btn:hover,
.list:hover {
    background-color: white;
    color: black;
    transition: 1s;
    cursor: pointer;
}
ul {
    padding: 0;
    list-style: none;
}

.list {
    margin-right: 15px;
    list-style: none;
    position: relative;
    border-radius: 10px;
    border: 3px solid white;
}

.list_link {
    width: 100%;
    padding-left: 10px;
}

.list_link:hover > .underlist {
    display: block;
    position: absolute;
    top: 100%;
    left: -150%;
    transition: 1s;

    z-index: 1000;
}

.underlist {
    display: none;
    background-color: rgb(19, 18, 18);
    border-radius: 10px;
    border:1px solid white;
}

.underlist_link {
    list-style: none;
    width: 100%;
}















/****************************************************************/

main {
    height: 100vh;
    width: 100vw;

    background-image: url(../images/cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title_list {
    display: inline-block;
    height: 100%;
    width: 100%;

    padding: 0 50px;
}

.menu, .inscription {
    display: inline-block;
    width: 45%;
}

.menu {
    width: 500px;
    height: 600px;

    margin: 50px 0 0 100px ;

    border-radius: 20px;

    color: white;
    background-color: black;
    opacity: 0.8;
}

.menu_list {
    text-align: center;
}

.menu_link {
    padding: 20px;
}

.inscription {
    position: relative;

    top: -300px;
    left: 15%;

    padding: 20px;
    text-transform: uppercase;
}

.inscr_white, .inscr_yellow {
    display: inline-block;
}

.inscr_white_first, .inscr_white_second,.inscr_yellow {
    position: absolute;
    box-shadow: 10px 5px 5px black;
    
}

.inscr_white_first, .inscr_white_second {
    padding: 0 10px;
    background-color: whitesmoke;
}

.inscr_white_first {
    left: 10px;
    z-index: 100;
}

.inscr_yellow {
    background-color: yellow;
    padding: 0 40px;
    top: 63px;

    z-index: 10;
}

.inscr_white_second {
    padding-top: 10px;
    top: 105px;
    left: -30px;
    transform: rotate(-3deg);
}
